:root {
  font-family: system-ui, Helvetica, sans-serif;
  line-height: 0;
  font-weight: 350;

  color: rgb(50, 120, 224);
  background-color: #ffffff;
}

body {
  margin: 100;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.band_name {
  font-size: 3em;
  line-height: 1em;
  color: rgb(224, 99, 50);
}

.event_description {
  font-size: 2em;
  line-height: 0.5em;
  color: rgb(113, 113, 113);
}

.time_date {
  font-size: 1em;
  line-height: 0.5em;
}

.location {
  font-size: 1em;
  line-height: 0.5em;
} 

